.wrapper {
  padding: 0;
}

.active-state {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  padding: 16px 16px 0;
}

.active-state-title {
  width: 100%;
  padding: 84px 0;
  text-align: center;
  flex: 1 1 100%;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  margin-bottom: 16px;
}

.layer-empty-title {
  padding: 130px 0;
}

.empty-state-wrapper {
  margin: 16px;
}

.empty-state {
  height: calc(100% - 32px);
  width: calc(100% - 32px);
  border: 1px solid #e5e5e5;
  text-align: center;
  margin: 16px auto;
  padding: 16px;
  border-radius: 6px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.empty-state__image {
  height: 64px;
  width: 64px;
  background-color: #18a0fb;
  border-radius: 100px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.layer-icon {
  margin-bottom: 16px;
  pointer-events: none;
  /* width: 32px;
  height: 32px; */
}

.empty-state-content {
  margin: auto;
}

.empty-state__title {
  font-size: 13px;
  line-height: 1.3;
  color: #333333;
  margin: auto;
  padding-bottom: 16px;
}

.preloader-title {
  margin-top: 24px;
}

.preloader {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.preloader-row {
  margin: auto;
}

.preloader-circle {
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: #18a0fb;
  margin: 8px;
  transform: scale(0.8);
  opacity: 0.8;
  transform-origin: center;
}
